a {
    color: white;
    text-decoration-style: bold;
}
ion-button {
    --background: rgba(251, 250, 252, 0.438);
}

ion-item {
    --background: rgba(255, 255, 255, 0);
    --color: rgb(0, 0, 0);
}